/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

* {
  outline: none;
}

body {
  font-family: "Open Sans", san-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}
ol,
ul,
li {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}

/******************************************************************************
 * Typography
 *****************************************************************************/
h1 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 32px;
  }
}
h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 28px;
  }
}
h3 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}
h4 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}
p,
li {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: inherit;
}
ul,
ol {
  padding-left: 20px;
}
strong {
  font-weight: 700;
}
